body, html {
  position: absolute;
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;
  width : 100%; 
  background:#ededed;
  color: white;
  
}

.overlay::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: .1;  
  z-index: 1000;
  pointer-events: none;
  background: url(/Overlay.png) ;
}

 .noise::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: .014;  
  z-index: 1000;
  pointer-events: none;
  background: url(/noise.gif) ;
}

main{
  height: 1000dvh;
  }


.video { 
  position: fixed;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100dvh;
 max-width: 80dvh;
filter: invert(0.95);
transition: position 0.3s ease-in-out;
}
 

@media (min-width: 1501px) {

  #container3D canvas {
  
  position: relative;
  width: 100vw !important;
  height: 100vw !important;
  scale: 0.3;
  transition: scale 0.3s ease-in-out;
 } 
 }

@media (min-width: 1001px) and (max-width: 1500px) {

 #container3D canvas {
 
 position: relative;
 width: 100vw !important;
 height: 100vw !important;
 scale: 0.5;
 transition: scale 0.3s ease-in-out;
} 
}

@media (max-width: 1000px) {

  #container3D canvas {
  
  position: relative;
  width: 100vw !important;
  height: 100vw !important;
  scale: 1;
  transition: scale 0.3s ease-in-out;
 } 
 }


@media (min-width: 801px) {
  #mouse-circle {
    backdrop-filter: invert(70%);
   position: absolute;
   width: 100px;
   height: 100px;
   margin: -10px 0 0 -10px;
   border-radius: 50%;
   pointer-events: none;
   background-color: rgb(0, 0, 0);
   left: -20px;
   transition: opacity 0.6s ease-out;
   opacity: 50%;
   
   z-index: 1; 


}
}


