body, html {
  position: static;
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;
  width : 100%; 
  background:#ffffff;
  color: white;
  cursor: none;
  overflow: auto;
  height: 1000dvh;
}

.overlay::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: .5;  
  z-index: 1000;
  background: url(/Overlay.png) ;
  color: white;
}

 .noise::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: .02;  
  z-index: 5000;
  pointer-events: none;
  background: url(/noise.gif) ;
}

main{
  height: 100dvh;
  position: fixed;
  }


.video { 
  position: fixed;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100dvh;
 max-width: 80dvh;

transition: height 0.3s ease-in-out;
}
 

@media (min-width: 1501px) {

  #container3D canvas {
  
  position: relative;
  width: 100vw !important;
  height: 100vw !important;
  scale: 0.3;
  transition: scale 0.3s ease-in-out;
 } 
 }

@media (min-width: 1001px) and (max-width: 1500px) {

 #container3D canvas {
 
 position: relative;
 width: 100vw !important;
 height: 100vw !important;
 scale: 0.5;
 transition: scale 0.3s ease-in-out;
} 
}

@media (max-width: 1000px) {

  #container3D canvas {
  
  position: relative;
  width: 100vw !important;
  height: 100vw !important;
  scale: 1;
  transition: scale 0.3s ease-in-out;
 } 
 }


 @media (min-width: 1000px) {
  #mouse-circle {
   position: sticky;
   width: 30px;
   height: 30px;
   margin: -15px 0 0 -15px;
   border-radius: 50%;
   pointer-events: none;
   background-color: rgb(255, 255, 255);
   left: -100px;
   transition: opacity 0.6s ease-out;
   opacity: 90%;
   z-index: 2000; 
   filter: blur(7.5px);
   mix-blend-mode: difference;



}
}

.righttop { 
  text-align: right;
 position: fixed; 
 top: 1dvh; 
 right: 2dvh;
 width: 50%; 
 height: -100%; 
 color: rgb(0, 0, 0);
 font-size: 3vh;
 font-family: "helvetica", sans-serif;
 font-weight: 750;
 font-style: normal;
 cursor: none;
 text-decoration: none;
 z-index: 2000;
}

.lefttop { 
  text-align: left;
 position: fixed; 
 top: 1dvh; 
 left: 2dvh;
 width: 75%; 
 height: -100%; 
 color: rgb(0, 0, 0);
 font-size: 3vh;
 font-family: "helvetica", sans-serif;
 font-weight: 750;
 font-style: normal;
 cursor: none;
 text-decoration: none;
 z-index: 2000;
}


.leftbottom { 
  text-align: left;
  position: fixed; 
  bottom: -2dvh; 
  left: 2dvh;
  width: 50%; 
  height: -100%;
  color: rgb(0, 0, 0);
  font-size: 3vh;
  font-family: "helvetica", sans-serif;
  font-weight: 750;
  font-style: normal;
  text-decoration: none;
  z-index: 2000;
}
 

.rightbottom { 
   text-align: right;
  position: fixed; 
  bottom: -2dvh; 
  right: 2dvh;
  width: 50%; 
  height: -100%; 
  color: rgb(0, 0, 0);
  font-size: 3vh;
  font-family: "helvetica", sans-serif;
  font-weight: 750;
  font-style: normal;
  cursor: none;
  text-decoration: none;
  z-index: 2000;
}

a {
  color:rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:visited {
  color: rgb(0, 0, 0);
  transition: color 0.3s ease-in-out;
}


a:hover {
color: rgb(168, 168, 168);
transition: color 0.3s ease-in-out;
}

a:link {
cursor: none;
transition: color 0.3s ease-in-out;
}
