body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #white;

}

main{
  height: 200vh;

}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  top: 0;
  left: 0;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 801px) {
  #mouse-circle {
    backdrop-filter: invert(70%);
   position: absolute;
   width: 100px;
   height: 100px;
   margin: -10px 0 0 -10px;
   border-radius: 50%;
   pointer-events: none;
   background-color: rgb(0, 0, 0);
   left: -20px;
   transition: opacity 0.6s ease-out;
   opacity: 50%;
   
   z-index: 1; 


}
}